<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <h2>{{name}}</h2>
        <img src="/img/my.jpg">
    </body>
</html>